/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.intro-content {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.intro-content__img {
  width: 100%;
}

.intro-content__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .intro-content {
    text-align: center;
  }
}

.main-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-form__input_task-text,
.task-form__label_task-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-form {
  display: flex;
}

.section__task-list {
  margin: 0;
  padding: 0px;
}

.task-form__item,
.section__title_new-task {
  list-style: none;
}

.task-form__input,
.task-form__button {
  outline: none;
}

.task-form__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task-form__button:hover {
  color: #3a3a3a;
}

/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-form__input_task-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-form__input_task-text:focus {
  color: #333;
}

/* New Task */
.section_add-item {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.section__title_new-task {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.task-form__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-form__item > * {
  vertical-align: middle;
}

.task-form__item > .task-form__input_checkbox {
  margin: 0 10px;
}

.task-form__item > .task-form__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-form__item > .task-form__input_task-text {
  width: 226px;
}

.task-form__button-img_delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-form__button-img_delete:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task-form__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-form__item .task-form__input_task-text {
  display: none;
}

.task-form_edit-mode .task-form__input_task-text {
  display: inline-block;
  width: 224px;
}

.task-form_edit-mode .task-form__label {
  display: none;
}
